/* Document setup */

html {
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
}
header, main, aside, footer {
  display: block;
}

.cf:after {
  content:" ";
    display:block;
    clear:both;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Style boxes */
.box {
  border: 1px solid darkgrey;
  border-radius: 3px;
  margin: 2%;
  padding: .5em;
}
  header.box, footer.box {
    margin: 1%;
  }

.fa-search {
  margin-left: -24px;
}

/* Style text */

a {
  color: blue;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }
a i.fa {
  color: black;
}
  a i.fa:hover {
    color: blue;
    text-decoration: underline;
  }




/* Header styles */
  /* Flexbox stuff */
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

header h1, header h6 {
  margin-bottom: 0;
}

  /* Other header styles */
header {
  background-color: rgb(70, 70, 70);
}
  header h1 a {
    color: white;
  }
  header h6 a {
    color: white;
    font-size: 1.5em;
  }

/* Sidebar/Cat filter styles */
  /* Flexbox stuff */
aside {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

aside h3 {
  align-self: end;
  order: 1;
}

aside form {
  margin-top: 1%;
  margin-left: 10%;
  order: 2;
}

aside ul {
  order: 3;
}

  /* Other sidebar styles */
aside {
  background-color: rgb(110, 110, 110);
}
  aside * {
    color: white;
  }

.category-filters-list {
  flex-basis: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  padding-left: 0;
  list-style: none;
}
  .category-filters-list li {
    flex: auto;
    flex-basis: auto;
    margin: 2%;
  }

  /* Styling */
  label div {
    font-style: italic;
    font-size: .9em;
  }

/* Style Main */

  /* note-card box flex styling */
.note-card.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
  .note-card.box .grouper {
    flex: 1 100%;
  }
  .note-card__tags {
    align-self: flex-end;
  }

.note-card {
  background-color: RGBA(247, 247, 235, 1.00);
  line-height: 1.2em;
  font-size: 1.2em;
}
.note-card h2 {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid black;
}
.note-card h3 {
  font-size: .8em;
  margin-top: 0;
}
.note-card a {
  color: red;
  text-decoration: underline;
}

.note-card-title a {
  color: rgb(50,50,50);
  text-decoration: none;
}
  .note-card-title a::before {
    font-family: FontAwesome;
    content: "\f0c1";
    color: rgb(70,70,70);
    display: inline-block;
    margin-right: 1%;
    visibility: hidden;
  }
  .note-card-title a:hover::before {
    visibility: visible;
  }
.note-tag-link {
  border: 1px solid rgba(220,220,220, 1);
  border-radius: 50px;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  background: rgba(240,240,240, 1);
}
  .note-tag-link:hover {
    text-shadow: 0 0 10px darkgrey;
  }

/* Style notes */
.note-full {
  padding: 3%;
  padding-right: 5%;
}

/* Style footer */
  /* flexbox styles */
footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}
  footer span {
    flex: auto;
    flex-grow: 2;
  }
  footer ul {
    flex: auto;

    /* clear list styles */
    padding-left: 0;
    list-style: none;

    margin: 0;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
  }
    footer ul li {
      display: inline-block;
      margin-right: 1em;
    }

  /* other styles */
  footer {
    background-color: rgb(70, 70, 70);
  }
    footer *, .social-links li a i.fa {
      color: white;
    }

@media screen and (min-width: 720px) {
  .container {
    display: flex;
    flex-flow: row wrap;
  }

  header {
    flex: 1 100%;
    order: 1;
  }
    header h1 {
      margin-left: 1em;
    }

  aside {
    flex: 1 0px;
    order: 2;

    align-content: flex-start;
    justify-content: flex-start;
  }
    aside h3 {
      flex: 100% auto 1;
    }
    aside form {
      flex: 100% auto 1;
    }
    .category-filters-list {
      flex-basis: static;
    }
    .category-filters-list li {
      flex: 1 100%;
      margin-left: .5em;
    }

  main {
    flex: 3 0px;
    order: 3;
  }

  footer {
    flex: 1 100%;
    order: 4;
  }
}

@media screen and (min-width: 1000px) {
  main {
    flex-grow: 4;

    display: flex;
    flex-flow: row wrap;
  }

  .note-card {
    flex: 1 45%;
  }
}

@media screen and (min-width: 1300px) {
  main {
    flex-grow: 5;
  }
  .note-card {
    flex: 1 29%;
  }
    .note-card.box {
      margin: 1%;
    }
}
