/* Document setup */

html {
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
}
header, main, aside, footer {
  display: block;
}

.cf:after {
  content:" ";
    display:block;
    clear:both;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Style boxes */
.box {
  border: 1px solid darkgrey;
  border-radius: 3px;
  margin: 2%;
  padding: .5em;
}
  header.box, footer.box {
    margin: 1%;
  }

.fa-search {
  margin-left: -24px;
}

/* Style text */

a {
  color: blue;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }
a i.fa {
  color: black;
}
  a i.fa:hover {
    color: blue;
    text-decoration: underline;
  }



/* Header styles */
  /* Flexbox stuff */
header {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  align-items: baseline;
}

header h1, header h6 {
  margin-bottom: 0;
}

  /* Other header styles */
header {
  background-color: rgb(70, 70, 70);
}
  header h1 a {
    color: white;
  }
  header h6 a {
    color: white;
    font-size: 1.5em;
  }

/* Sidebar/Cat filter styles */
  /* Flexbox stuff */
aside {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-items: flex-start;
}

aside h3 {
  align-self: end;
}

aside form {
  margin-top: 1%;
}

.category-filters-list {
  flex-basis: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  padding-left: 0;
  list-style: none;
}
  .category-filters-list li {
    flex: auto;
    flex-basis: auto;
    margin: 2%;
  }

  /* Styling */
  label div {
    color: rgb(50,50,50);
    font-style: italic;
    font-size: .9em;
  }

/* Style footer */
  /* flexbox styles */
footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}
  footer span {
    flex: auto;
    flex-grow: 2;
  }
  footer ul {
    flex: auto;

    /* clear list styles */
    padding-left: 0;
    list-style: none;

    margin: 0;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
    footer ul li {
      display: inline-block;
    }

  /* other styles */
  footer {
    background-color: rgb(70, 70, 70);
  }
    footer *, .social-links li a i.fa {
      color: white;
    }
