/* Document setup */

html {
  font-size: 16px;
}
header, main, aside, footer {
  display: block;
}

.cf:after {
  content:" ";
    display:block;
    clear:both;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Column layouts */

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.ui-bar-positioner {
  position: fixed;
  width: 25%;
  height: 80%;
}
.body-positioner {
  position: fixed;
  width: 75%;
  margin-left: 25%;
  overflow: scroll;
}
.footer-positioner {
  position: fixed;
  width: 25%;
  bottom: 0;
}
header {
  /*position: fixed;
  z-index: 100;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);*/
  height: 100%;
  border: 1px solid darkgrey;

  background-color: rgba(240, 240, 240, .95);
}

.sidebar {
  margin-top: 1%;
}

footer {
  padding: .2em;
  border: 1px solid darkgrey;
  background-color: rgba(240, 240, 240, .95);
  border-radius: 2px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: .5em;
}

footer span {
  float: left;
}

.social-links {
  list-style: none;
  padding-left: 0;
  margin: 0;
  float: right;
}
  .social-links li {
    display: inline-block;
  }
  .social-links li a {
    color: black;
  }

main {
  position: relative;
}

.note-card {
  margin: 5%;
  border: 1px solid darkgrey;
  border-radius: 2px;
  padding: 3%;
}
  .note-card h2 {
    margin-top: 1%;
  }

/* Text appearance */
header {
  padding: .2em;
}
.header h1 {
  display: inline-block;
  font-size: 1.5em;
  margin-top: .25em;
  margin-bottom: .25em;
}

header h6 {
  margin-left: 1em;
  display: inline-block;
}

.sidebar h3 {
  font-size: .8em;
  margin-top: .25em;
  margin-bottom: .25em;
  text-decoration: underline;
}

.category-filters {
  list-style: none;
  padding-left: 0;
  margin-top: .15em;
  margin-bottom: 0;
}
  .category-filters li {
    margin: .5em;
    display: inline-block;
  }
