---
title: home
layout: default
---

<main>

  {% for note in site.notes %}
  <div class="note-card box">
    <div class="grouper"><!-- keep the h2 and h3 grouped -->
      <h2 class="note-card-title"><a href="{{ note.url }}">{{ note.title }}</a></h2>
      <h3>written by {{ note.author }}, on {{ note.date | date: "%d %b %Y" }}</h3>
    </div><!-- /.grouper -->
    <p>
      {{ note.description }}
    </p>

    {% include note-tags.html %}

  </div><!-- /.note-card box -->
  {% endfor %}



</main>
