<aside class="category-filters box">

  <form>
    <label for="search">
      <span>
        <input type="search" placeholder="search" id="search"></input>
      </span>
      <div>for keywords &amp; tags</div>
    </label>
  </form>

  <h3>Category filters</h3>
  <!-- TODO: liquid for-loop to catch all categories -->
  <ul class="category-filters-list">
    <li>
      Filter 1
    </li>
    <li>
      Filter 2
    </li>
    <li>
      Filter 2
    </li>
    <li>
      Filter 2
    </li>
    <li>
      Filter 2
    </li>
    <li>
      Filter 2
    </li>
    <li>
      Filter 2
    </li>
    <li>
      Filter 2
    </li>
    <li>
      Filter 2
    </li>
    <li>
      Filter 2
    </li>
    <li>
      Filter 2
    </li>
    <li>
      Filter 2
    </li>
  </ul>
</aside>
